
body {
    font-family: 'Roboto','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-general);
}

.button {
    background-color: var(--color-botones);
    border-radius: 4px;
    border: 0;
    width: 145px;
    height: 24px;
    top: 174px;
    left: 712px;
    cursor: pointer;
    
}

.button:hover {
    background-color: var(--color-hover);
}

.button:active {
    background-color: var(--color-active);
}

.button:focus {
    background-color: var(--color-focus);
    transition: 1s;
}


.link {
    
    color: var(--color-general);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link:hover {
    color: var(--color-hover);
}   

.link:active {
    border-bottom: 2.9px solid var(--color-link-button);
    width: 100%;
    border-radius: 1%;
    transition: .2s;
    color: var(--color-active);
}

.link:focus {
    color: var(--color-focus);
    transition: 1s;
}

.mail-tel {
    color: var(--color-secundario);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.mail-tel:hover {
    color: var(--color-hover);
}

.mail-tel:active {
    color: var(--color-active);
    border-bottom: 2.9px solid var(--color-link-button);
    width: 100%;
    border-radius: 1%;
    transition: .2s;
    color: var(--color-active);
}

.mail-tel:focus {
    color: var(--color-focus);
    transition: 1s;
}


/* Header */

.nav-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-titles);
}


/* Main */

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.title-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--color-general);
}

.images-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.images-type {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px; 
    letter-spacing: 0.03em;
    color: var(--color-secundario);
}

:root {
    --color-botones: #F5F4FA;
    --color-hover: #2196F3;
    --color-active: #6ab2ec;
    --color-general: #212121;
    --color-secundario: #757575;
    --color-titles: #2196F3;
    --color-link-button: #339ef5;
    --color-focus: #1d7dcc;
}
    
.list {
    list-style: none;
}

.job {
    color: var(--color-secundario);
}
